<html>

    <head>
        <title>Compute</title>
        <meta Content-Type="http/text" charset="UTF-8"/>
        <style>
            .instance li {
                color: rgba(0,0,0,0.6);
            }
            .instance li span {
                color: green;
                display: inline-block;
            }
            .instance li span:before {
                content:":";
                padding-right: 0.3em;
            }

            #images {
                height: 300px;
                overflow: auto;
            }
        </style>
    </head>

    <body>

        <div id="instances"> <!-- list instances --> </div>
        <div id="images"> <!-- list debian images --> </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
    var project = "gcetest-156204",
        zone = "asia-east1-a",
        $instances = $('#instances')
        $tmpInstance = $(`
            <div class="instance">
                <h3></h3>
                <ul class="inner">
                    <li class="status">Status<span></span></li>
                    <li class="ip">IP<span></span></li>
                </ul>
            </div>
        `),
        $images = $('#images'),
        $tmpImage = $(`
            <div class="image"></div>        
        `);

    // fetch all instances
    $.get(`/admin/api/compute/instances?project=${project}&zone=${zone}`, function(json, stateText, xhr){
        $.each(json.items, function(_, item){
            var $item = $tmpInstance.clone(),
                ipList = [];
            $item.data('item', item);
            $item.find('h3').text(item.name);
            $item.find('.status > span').text(item.status);

            for (var i = 0, iLen = item.networkInterfaces.length; i < iLen; i++) {
                for (var j = 0, jLen = item.networkInterfaces[i].accessConfigs.length; j < jLen; j++) {
                    ipList.push(item.networkInterfaces[i].accessConfigs[j].natIP);
                }
            }
            $item.find('.ip > span').text(ipList.join(','))
            $instances.append($item)

        }, "json")
    });

    // fetch all debian images
    $.get(`/admin/api/compute/images`, function(json, stateText, xhr){
        for (var i = 0, L = json.items.length; i < L; i++) {
            var $img = $tmpImage.clone();
            $img.text(json.items[i].name);
            $images.append($img);
        }
    });

    </script>
    </body>

</html>
