a[id^=layout-] {
     display: inline-block;
     width: 100%;
     height: 200px;
     background: black;
     border: rgba(99,99,99,1) solid 3px;
     cursor: pointer;
}

a[id^=layout-].active {
    border-color: rgba(255,99,64,1);
}

#layout-1 {}

button[id^=cpu-], 
button[id^=memory-]{
     width: 100%;
     height: 55px;
     font-weight: bold;
}

button[id^=cpu-].active,
button[id^=memory-].active{
    background: rgba(59,113,197,1);
    color: white;
}

textarea#startup-script {
    width: 100%;
    height: 75vh;
}

#process-status {
    height: 60vh;
    overflow-y: scroll;
}

.instance li {
    color: rgba(0,0,0,0.6);
}
.instance li span {
    color: green;
    display: inline-block;
}
.instance li span:before {
    content:":";
    padding-right: 0.3em;
}

#process {
    transition: all 0.5s ease;
    height: 10px;
    background-color: rgba(204, 0, 0, 1);
    width: 0;
}
#process[status=PROVISIONING] {
    background-color: rgba(255, 102, 0, 1);
    width: 20%;
}
#process[status=STAGING] {
    background-color: rgba(255, 204, 0, 1);
    width: 30%;
}
#process[status=RUNNING] {
    background-color: rgba(204, 255, 51, 1);
    width: 40%;
}
#process[status=STARTUP] {
    background-color: rgba(153, 255, 51, 1);
    width: 60%;
}
#process[status=DONE] {
    background-color: rgba(0, 153, 51, 1);
    width: 100%;
}

/* bootstrap */
.row {
    margin-top: 10px;
}
